<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ==========================================================
       ROS2 Control Configuration
       ========================================================== -->

  <xacro:arg name="use_real_hardware" default="false"/>
  <xacro:arg name="serial_port" default="/dev/ttyACM0"/>
  <xacro:arg name="baud_rate" default="115200"/>

  <ros2_control name="SolarbotSystem" type="system">

    <!-- ===================================================== -->
    <!-- Hardware Plugin                                       -->
    <!-- ===================================================== -->

    <hardware>

      <!-- Simulation -->
      <xacro:unless value="$(arg use_real_hardware)">
        <plugin>gz_ros2_control/GazeboSimSystem</plugin>
      </xacro:unless>

      <!-- Real Robot -->
      <xacro:if value="$(arg use_real_hardware)">
        <plugin>panelbot_hardware/SkidSteerHardware</plugin>

        <param name="serial_port">
          $(arg serial_port)
        </param>

        <param name="baud_rate">
          $(arg baud_rate)
        </param>

        <param name="wheel_radius">
          ${wheel_radius}
        </param>

        <param name="wheel_separation">
          ${2.0 * track_y_offset}
        </param>

        <param name="max_wheel_rad_s">
          6.0
        </param>

      </xacro:if>

    </hardware>

    <!-- ===================================================== -->
    <!-- Left Drive Joint                                      -->
    <!-- ===================================================== -->

    <joint name="left_wheel_joint">

      <command_interface name="velocity"/>

      <state_interface name="position"/>

      <state_interface name="velocity"/>

    </joint>

    <!-- ===================================================== -->
    <!-- Right Drive Joint                                     -->
    <!-- ===================================================== -->

    <joint name="right_wheel_joint">

      <command_interface name="velocity"/>

      <state_interface name="position"/>

      <state_interface name="velocity"/>

    </joint>

  </ros2_control>

  <!-- ==========================================================
       Gazebo Plugin
       ========================================================== -->

  <gazebo>

    <plugin
      filename="gz_ros2_control-system"
      name="gz_ros2_control::GazeboSimROS2ControlPlugin">

      <parameters>$(find solarbot_description)/config/controllers.yaml</parameters>

    </plugin>

  </gazebo>

</robot>