<?xml version="1.0"?>

<robot name="solarbot"
       xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ===================================================== -->
  <!-- Common -->
  <!-- ===================================================== -->

  <xacro:include filename="$(find solarbot_description)/urdf/common/properties.xacro"/>
  <xacro:include filename="$(find solarbot_description)/urdf/common/materials.xacro"/>

  <!-- ===================================================== -->
  <!-- Base -->
  <!-- ===================================================== -->

  <xacro:include filename="$(find solarbot_description)/urdf/base/chassis.xacro"/>
  <xacro:include filename="$(find solarbot_description)/urdf/base/tracks.xacro"/>

  <!-- ===================================================== -->
  <!-- Sensors -->
  <!-- ===================================================== -->

  <xacro:include filename="$(find solarbot_description)/urdf/sensors/sensors.xacro"/>

</robot>